/* Universal Styles */

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

main {
  position: relative;
  top: 5.3125rem;
  /* To offset for fixed header. */
}

.center {
  text-align: center;
}

.pad-left {
  padding-left: 4rem;
}

.button {
  border-radius: 4px;
  background-color: #4a4a4a;
  color: white;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
}

/* Header */

header {
  width: 100%;
  position: fixed;
  height: 5.3125rem;
  border-bottom: solid 1px #c6c1c1;
  background-color: white;
  z-index: 1;
  display: flex;
}

header .content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.875rem;
}

header .logo {
  flex: 1;
  font-size: 1.5rem;
  font-family: "Roboto Mono", sans-serif;
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 3.5rem;
}

nav a {
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 1rem;
  color: #4a4a4a;
  display: flex;
  align-items: center;
}

header .icon {
  width: 1rem;
  padding-left: .75rem;
}

header .mobile {
  display: none;
}

header .content .button{
  display: none;
}

/* Sign Up Section */

#sign-up-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 43.5rem;
}

.banner {
  background-image: url("../images/banner-landingpage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#sign-up-cta {
  padding: 0 5rem 2.5rem 5rem;
  border: solid 1px #979797;
  border-radius: 4px;
  background-color: #9dc20b;
  margin: 10.625rem 6.5rem
}

#sign-up-cta .content {
  width: 25.625rem;
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  color: white;
}

#sign-up-cta h1 {
  font-size: 3.125rem;
}

#sign-up-cta h2 {
  font-size: 2.25rem;
}

#sign-up-cta span strong {
  font-weight: bold;
}

#sign-up-cta .cursive {
  font-family: "Damion", cursive;
}

#sign-up-cta .striking {
  font-family: "Rubik", sans-serif;
  padding-bottom: .75rem;
}

#sign-up-cta .button {
  margin-top: 1.625rem;
  padding: 1.25rem 7.25rem;
}

/* mobile sign-up */
@media only screen and (max-width: 450px) {
  #sign-up-section {
    height: 20rem;
  }

  #sign-up-cta h1 {
    font-size: 2.25rem;
  }

  #sign-up-cta h2 {
    font-size: 2rem;
  }
}

/* Features Section */

#features-section {
  display: flex;
  flex-shrink: 2;
  justify-content: space-between;
  padding: 4rem 5%;
  background-color: #f3f3f3;
}

.feature {
  flex: 1;
  margin: 0px 1.25rem;
  background-color: white;
  height: 39.6875rem;
}

.feature .resize {
  display: none;
}

.feature .image-container {
  display: flex;
  flex-shrink: 2;
  width: 90%;
  height: 65%;
  padding: 2rem 2rem 2.5rem;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.feature .content {
  padding: 2rem;
}

.feature h2 {
  padding-bottom: .5rem;
  font-size: 2.25rem;
  font-weight: bold;
  color: #4a4a4a;
}

.feature h3 {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 300;
  color: #4a4a4a;
}

/* Filters Section */

#filters-section {
  background-color: #4a4a4a;
}

#filters-section .content {
  padding: 5rem;
}

#filters-section .content h2 {
  font-size: 2.25rem;
  font-weight: bold;
  color: white;
  margin-bottom: 1%;
}

#filters-section .content h3 {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 300;
  color: white;
}

#filters-section .images-container {
  max-width: 100%;
  display: flex;
}

#filters-section .images-container img {
  width: 100%;
  height: auto;
}

/* Quotes Section */

#quotes-section {
  background-color: #f3f3f3;
}

#quotes-section .content {
  padding: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#quotes-section .quote {
  padding-right: 1.875rem;
  font-family: "Palatino", serif;
  font-size: 1.875rem;
  line-height: 1.1;
  font-style: italic;
  color: #4a4a4a;
}

#quotes-section .quote-citation {
  height: 1.875rem;
}

/* Footer */

footer {
  height: 3.875rem;
  background-color: #9b9b9b;
  padding: 1.5rem 2rem;
}

footer .content {
  color: white;
  display: flex;
  padding: 2%;
  font-size: .75rem;
}

footer .copyright {
  flex-grow: 1;
}